# Aliases
alias reload=". $HOME/.zshrc && echo 'ZSH config reloaded from $HOME/.zshrc'"
alias ssh-pbcopy="cat $HOME/.ssh/id_rsa.pub | pbcopy; echo 'SSH key copied to clipboard'"
alias vi="vim"
alias vless="vimpager"
alias dokku="ssh dokku@$DOKKU_LOCAL_HOST"
alias dokku-vagrant="cd $DOKKU_PATH; vagrant"
alias get-composer="curl -sS https://getcomposer.org/installer | php"

# Hub aliased as git
eval "$(hub alias -s)"
