export PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin

export HISTFILE=~/.histfile
# number of lines kept in history
export HISTSIZE=10000
# number of lines saved in the history after logout
export SAVEHIST=10000

export VAGRANT_DEFAULT_PROVIDER=virtualbox

# set default editor to Neovim if present
if which nvim &> /dev/null; then
	export EDITOR="nvim"
else
	export EDITOR="vim"
fi

export VISUAL=$EDITOR

export PAGER="vimpager"

export DOKKU_PATH="$HOME/.dokku"

export GOPATH=$HOME/workspace/go
export PATH=$PATH:$GOPATH/bin

# set Vim background based on iTerm profile
case "$ITERM_PROFILE" in
    Light) export VIM_BACKGROUND="light" ;;
    Dark) export VIM_BACKGROUND="dark" ;;
    *) ;;
esac
