export PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin

# add composer global bin directory to path
export PATH=~/.composer/vendor/bin:$PATH

# add project dependency bin directories to end of path
export PATH=$PATH:./node_modules/.bin:./vendor/bin:./bin

export HISTFILE=~/.histfile
# number of lines kept in history
export HISTSIZE=10000
# number of lines saved in the history after logout
export SAVEHIST=10000

export VAGRANT_DEFAULT_PROVIDER=virtualbox

# set default editor to Neovim if present
if which nvim &> /dev/null; then
	export EDITOR="nvim"
else
	export EDITOR="vim"
fi

export VISUAL=$EDITOR

# fzf options
export FZF_DEFAULT_COMMAND='ag --hidden -g ""'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# use Vim as the pager
export PAGER=vimpager

export GOPATH=$HOME/workspace/go
export PATH=$PATH:$GOPATH/bin

# enable colours in ls on OSX/BSD
export CLICOLOR=1

# opt-out of Homebrew's analytics
export HOMEBREW_NO_ANALYTICS=1

export AUTHOR="Mathew Attlee <hello@codeinabox.com>"

# rotate Git duet authors are each commit
export GIT_DUET_ROTATE_AUTHOR=1

# display the current directory as the title
export PROMPT_COMMAND='echo -ne "\033]0;$(basename ${PWD})\007"'
