[user]
	name = Mathew Attlee
	email = hello@codeinabox.com
[push]
	default = current
[branch]
	autosetuprebase = always
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	ignorecase = false
	pager = less
[alias]
	ca = commit -a
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	pr = !git pull && git submodule update --init --recursive
	rb = rebase
	rc = rebase --continue
	rs = rebase --skip
	ri = rebase --interactive
	s = status -s
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[mergetool]
	keepBackup = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[difftool.pstorm]
	cmd = pstorm diff "$LOCAL" "$REMOTE"
[mergetool.pstorm]
	cmd = pstorm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
