[user]
	name = Mathew Attlee
	email = hello@codeinabox.com
[push]
	default = simple
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.ignore
	autocrlf = input
	ignorecase = false
	pager = less
[alias]
	amend-date = commit --amend --reset-author
	bm = branch -m
	ca = commit -a
	co = checkout
	cob = checkout -b
	dft = difftool -t difftastic
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	rbi = rebase --interactive
	s = status -s
	sync-fork = !git fetch upstream && git checkout master && git merge upstream/master
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[mergetool]
	keepBackup = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[merge]
	tool = vimdiff
[rebase]
	autoStash = true
	instructionFormat = <%ae> %s
[init]
	defaultBranch = main
