" Highlight search matches
set hlsearch

" Ignore case in search
set ignorecase
set smartcase

" Show where search pattern typed so far matches
set incsearch

" Use system clipboard
set clipboard+=unnamed

" Mappings
nmap gcc :action CommentByLineComment<CR>
nnoremap <Leader>y :action Switcher<CR>
nnoremap <Leader>a :action FindInPath<CR>
nnoremap <Leader>r :source ~/.ideavimrc<CR>
nnoremap <Leader>" :split<CR>
nnoremap <Leader>% :vsplit<CR>
nnoremap <Leader>w :w<CR>

" Running tests
nnoremap <Leader>tf :action RunClass<CR>
nnoremap <Leader>tl :action Run<CR>
nnoremap <Leader>tn :action RunClass<CR>
nnoremap <Leader>ts :action RunConfiguration<CR>

" Jumping between hunks
nnoremap ]c :action JumpToNextChange<CR>
nnoremap [c :action JumpToLastChange<CR>

" PHPStorm specific
nnoremap <Leader>f :action HideAllWindows<CR>
nnoremap <Leader>g :action Generate<CR>
nnoremap <Leader>rr :action RenameElement<CR>

" Extensions
set surround
