" Highlight search matches
set hlsearch

" Ignore case in search
set ignorecase
set smartcase

" Use system clipboard
set clipboard+=unnamed

" Mappings
nmap gcc :action CommentByLineComment<CR>
nnoremap <Leader>a :action FindInPath<CR>
